body{
    max-width: 600px;
}

.titleHead-mobile{
    font-family: 'East Sea Dokdo', cursive;
    color: white;
    background-color: rgba(28, 28, 28, 0.75);
    width: 600px;
    height: 206px;
}

.firstName-mobile{
position: absolute;
width: 127px;
height: 77px;
left: 87px;
font-weight: 400px;
font-style: normal;
font-size: 64px;
line-height: 120%;
}

.logo_image-mobile{
    width: 115px;
    height: 146.59px;
    position: absolute;
    left: 243.33px;
    top: 25.33px;
}

.lastName-mobile{
    position: absolute;
    width: 127px;
    height: 77px;
    top: 0;
    left: 363px;
    font-weight: 400px;
    font-style: normal;
    font-size: 64px;
    line-height: 120%;
}
.specialization-mobile{
    position: absolute;
    width: 239px;
    height: 77px;
    top: 130px;
    left: 363px;
    font-weight: 400px;
    font-style: normal;
    font-size: 32px;
}

#bottom-mobile{
    width: 420.08px;
    height: 194px;
    margin: auto;
}

.accordion-button{
   height: 152px;
   width: 600px;
   font-family: 'East Sea Dokdo', cursive;
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: 80px;
   color: white;
   background-color: #383838;
   border: none;
}

.panel{
    background-color: #C4C4C4;
}

.borderTop-mobile{
    height: 40px;
    width: 600px;
    margin-bottom: -17.5px;
    margin-top: 15px;
    z-index: 10;
}

.borderBottom-mobile{
    height: 40px;
    margin: auto;
}

.aboutContent-mobile{
    margin: auto;
    text-align: center;
    height: 642.33px;
    width: 500.67px;
    background-color: #eaeaea;
}

.aboutText-mobile{
    margin-top: 30px;
    width: 458px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.profileImage-mobile{
    margin-top: 20px;
    width: 184px;
    height: 299px;
}


.skillsContent-mobile{
    margin: auto;
    text-align: center;
    height: 642.33px;
    width: 500.67px;
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.worksContent-mobile{
    margin: auto;
    text-align: center;
    height: 642.33px;
    width: 500.67px;
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.researchTitle-mobile{
    padding-top: 30px;
    text-decoration: underline;
}

.researchText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.researchImageContainer-mobile{
    margin-left: auto;
    margin-right: auto;
    width: 263px;
}

.researchReadingImage-mobile{
    float: right;
}

.empathyTitle-mobile{
    padding-top: 30px;
    text-decoration: underline;
}

.empathyText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.empathyImageContainer-mobile{
    margin-left: auto;
    margin-right: auto;
    width: 263px;
}

.empathyTrustImage-mobile{
    float: right;
}

.webdevTitle-mobile{
    padding-top: 30px;
    text-decoration: underline;
}

.webdevText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.webdevImageContainer-mobile{
    margin-left: auto;
    margin-right: auto;
    width: 263px;
}

.webdevCursorImage-mobile{
    float: right;
}

.toolsContent-mobile{
    margin: auto;
    text-align: center;
    height: 642.33px;
    width: 500.67px;
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -19px;
}

.toolsTitle-mobile{
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.pnpText-mobile{
    position: absolute;
    left: 80px;
    margin-top: 90px;
}

.pnpImage-mobile{
    position: absolute;
    left: 100px;
}

.figImage-mobile{
    margin-top: 5px;
}

.figText-mobile{
    margin-top: -10px;
}

.invisText-mobile{
margin-left: 319px;
margin-top: -50px;
}

.invisImage-mobile{
    position: absolute;
    left: 419px;
    margin-top: -145px;
}

.gdriveText-mobile{
    position: absolute;
    left: 90px;
    margin-top: 115px;
}

.gdriveImage-mobile{
    position: absolute;
    margin-top: 25px;
    left: 100px;
}

.miroImage-mobile{
    margin-top: 25px;
}

.miroText-mobile{
    margin-top: -5px;
}

.dreamText-mobile{
    margin-left: 319px;
    margin-top: -55px;
}
    
.dreamImage-mobile{
    position: absolute;
    left: 419px;
    margin-top: -150px;
}

.gitText-mobile{
    position: absolute;
    left: 195px;
    margin-top: 90px;
}

.gitImage-mobile{
    position: absolute;
    left: 180px;
}

.vscodeText-mobile{
    margin-left: 182px;
    margin-top: 110px;
}
    
.vscodeImage-mobile{
    position: absolute;
    left: 350px;
    margin-top: 0px;
}

.itergoLogo-mobile{
    margin-top: 50px;
}

.itergoText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.itergoLearnMore-mobile{
    width: 130px;
    border: none;
    background: #E3612A;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5px;
    line-height: 16px;
    padding: 12px 12px 12px 12px;
    color: white;
    margin-bottom: 80px;
}

.letsroleLogo-mobile{
    margin-top: 50px;
}

.letsroleText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.letsroleLearnMore-mobile{
    width: 130px;
    border: none;
    background: #E3612A;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5px;
    line-height: 16px;
    padding: 12px 12px 12px 12px;
    color: white;
    margin-bottom: 30px;
}

.marianLogo-mobile{
    margin-top: 50px;
}

.marianText-mobile{
    margin-top: 40px;
    width: 358px;
    height: 288px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 196.2%;
    margin-left: auto;
    margin-right: auto;
}

.marianLearnMore-mobile{
    width: 130px;
    border: none;
    background: #E3612A;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.5px;
    line-height: 16px;
    padding: 12px 12px 12px 12px;
    color: white;
    margin-bottom: 40px;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    color: #E3612A;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50%;
    position: absolute;
}



.accordion-button:hover{
cursor: pointer;
text-shadow: 4px black;
}

.accordion-button{
    color: white;
    text-decoration: none;
}

.accordion-button.active{
    color: #E6B36A;
    text-decoration: underline;
}

.panel{
    display: none;
}

.slide{
    display: inline-block;
    white-space: normal;
}

.slideshow{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.accordion-button.active + .panel{
    display: block;
}

.next{
    right: 10px;
}

.prev{left: 10px;}
